:root {
  --blue-teal-gradient: linear-gradient(249.06deg, #00C0F7 8.42%, #01DFCB 89.68%);
}

.gradient-background {
  background: var(--blue-teal-gradient);
  color: #fff;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 83%;
}